
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  table{
    font-size: 14px;
    text-align: left;
  }

  .centered-form {
    display: flex;  /* Use flexbox for centering */
    justify-content: center;
    align-items: center; /* Set minimum viewport height */
  }

  #Navigation {
    color: blue;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    position: absolute;
    top: 0;
    right: 0; }
  
  .menu {
    width: 200px;
    text-align: center;
    background-color: lightgrey; }

    /* style.css */

    
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Set minimum viewport height */
      }
      
      .search-bar {
        width: 300px; /* Adjust width as needed */
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
      }
      
      .search-button {
        margin-top: 20px; /* Adjust margin as needed */
        margin-left: 2px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
.Advanced-search{
  color:red;
  border-bottom: 1px solid lightgray; 
  font-size: 20px;
}
.form-Advanced-search{
  margin-left: 20px;

}
.button_Advanced_search{
        margin-top: 20px; /* Adjust margin as needed */
        margin-right: auto;
        justify-content: right;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;

}